@font-face {
	 font-family: 'Raleway';
  src:
    url('fonts/raleway_thin-webfont.ttf'),
    url('fonts/raleway_thin-webfont.svg'),
    url('fonts/raleway_thin-webfont.woff'),
    url('fonts/raleway_thin-webfont.eot');
}

@keyframes tiltRight { 
    0%   {transform: rotate(0deg);}
    20%  {transform: rotate(-20deg);}
    100% {transform: rotate(-20deg);}
}

@keyframes tiltRight2 { 
    0%   {transform: rotate(20deg);}
    40%  {transform: rotate(-20deg);}
    80%  {transform: rotate(-20deg);}
    100% {transform: rotate(0deg);}
}

@keyframes tiltleft { 
    0%   {transform: rotate(-20deg);}
    40%  {transform: rotate(20deg);}
    80%  {transform: rotate(20deg);}
    100% {transform: rotate(0deg);}
}

@keyframes tiltleft2 { 
    0%   {transform: rotate(0deg);}
    20%  {transform: rotate(20deg);}
    80%  {transform: rotate(20deg);}
    100% {transform: rotate(20deg);}
}

body {
	background-color:#F5F5F5;
}

p,ul,li {
	color:black;
	font-family:"Raleway",Raleway, monospace;
	font-size: 1em;
	line-height:1,3em;
	text-align:center;
}

h1{

	font-family:Raleway,sans-serif;
	font-weight:900;
	text-align:center;
	color:#800000;
}

a,h2,h3{
	font-family:Raleway,sans-serif;
	font-weight:normal;
	text-align:center;
	color:black;
	font-size: 1em;
	line-height:1,3em;
}

.nav{
	font-size: 18px;
}

a {
	text-decoration:none;
}

#footer{
	text-align: center;
}

#svg{
	text-align: center;
	padding: 20px;

	animation-name: tiltRight;
    animation-duration: 5000ms;
    animation-iteration-count: 1;
    animation-fill-mode:forwards;
    animation-play-state:paused;
}

table.tbl{
	padding-top: 25px;
	margin-left:auto; 
    margin-right:auto;
}

th, td { 
	width: 400px; 
}

IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#left{
	display:none;
	padding-right: 20px;
}

#right{
	display:none;
	padding-left: 20px;
}



.st0{fill:#E5E1D6;stroke:#000000;stroke-miterlimit:10;}
.st1{fill:#C5B0A9;stroke:#000000;stroke-miterlimit:10;}
.st2{fill:#D6CFC3;stroke:#1E1F1C;stroke-miterlimit:10;}
 	

